body{
    background:#f1f1f1;    
    font-weight:bold;
    color:black;
    text-align:center;
    -webkit-font-smoothing: antialiased;
  }
  .box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:10%;
    list-style-type: none;
    margin-top: 10px;
  }
  a{
    text-decoration: none;
  }
  .box{
    padding:30px;
    margin:2%;
    background:white;
    width:15%;
    border:1px solid #d6d6d6;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all; 
   
  }
  .box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
  